$black-color :#0D0D0D;
$white-color : #F1F1F1;
$soft-grey-color : #DEDEDE;
$grey-color : #474747;
$orange-color : #FDB827;
$yellow-color : #EFC900;
$dark-color :  #070707;
$light-color : #181818;
$blue-color :#0500FF;



$heading-1-size : 64px;
$heading-2-size : 48px;
$heading-3-size : 34px;
$heading-4-size : 24px;
$heading-5-size : 20px;

$body-1-size : 18px;
$body-2-size : 16px;
$body-3-size : 14px;
