.btn-orange{
    background-color: $yellow-color;
    color: $black-color;
    font-weight: bold;
    border-radius: 16px;
    &:hover{
        background-color: $black-color;
        color: $yellow-color;
    }
}
.btn-yellow{
    background-color: $yellow-color;
    color: $black-color;
    font-weight: bold;
    border-radius: 16px;
    margin-left: 44%;
    margin-top: 100px;
    &:hover{
        background-color: $black-color;
        color: $yellow-color;
    }
}
.btn-white{
    color: $white-color;
    font-weight: bold;
    font-size: $body-2-size;
    font-style: italic;
    margin-left: 45%;
    margin-top: 50px;
    letter-spacing: 00.08cm;
    &:hover{
        color: $yellow-color;
    }
}