.navbar{
    background-image: url("./background.png");
    background-size: cover;
    background-attachment: fixed;
    .navbar-brand{
        font-style: italic;
        font-size: $heading-3-size;
        font-weight: 600;
        color: $yellow-color;
        letter-spacing: 0.06cm;

        span{
            color: $white-color;
        }
    }
    .navbar-nav{
        .nav-item{
            margin-right: 30px;
            .nav-link{
                color: $white-color;
                font-size: $body-2-size;
                font-weight: 500;

                &.active{
                    color: $yellow-color;
                }
            }
        }
    }

}